// fonts
$Inter-Bold: "Inter-Bold", sans-serif;
$Inter-Regular: "Inter-Regular", sans-serif;

// colors
$medium-blue: #718096;
$dark-blue: #2d3748;
$red: #ff4b33;
$white: #ffffff;
$light-blue: #c4d0e1;
$silver: #c4c4c4;
$black: #000000;
